<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Marca</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Enter Input" name="nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-button color="primary" (click)="updateMarca()">Actualizar</ion-button>

</ion-content>